<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAR13 - Sistema Baixa SMARI</title>
    <link rel="stylesheet" type="text/css" href="static/Auto.css">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>

<body class= "corpo">  
    <div class="header">
        <div class="wrapper">
            <svg>
                <text x="50%" y="40%" dy=".15em" text-anchor="middle">
                    PAR13 - Sistema Baixa SMARTI
                </text>
            </svg>
        </div>
    </div>

    <div class="container">
         <div class="container">
            <div class="menu_site">
                <a href="PAINEL" class="inicio_site">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 8 13.5V10H6v3.5A1.5 1.5 0 0 1 4.5 15h-3A1.5 1.5 0 0 1 0 13.5V9.293l6-6a1 1 0 0 1 1.414 0zM7.5 1.5a1 1 0 0 1 1 0l6 6a1 1 0 0 1-1.414 1.414L8 3.707 1.914 8.914A1 1 0 0 1 .5 7.5l6-6z"/>
                    </svg>
                    Página Inicial
                </a>
            </div>

            <div class="painel">
                <h1 class="w3-spin">Incluir Prazo</h1>
                <form method="POST">
                    <div class="form-group">
                        <label for="login">Login:</label>
                        <input type="text" id="login" name="login" required>
                    </div>
                    <div class="form-group">
                        <label for="senha">Senha:</label>
                        <input type="password" id="senha" name="senha" required>
                    </div>
                    <div class="form-group">
                        <label for="objetos">Inserir objetos (um por linha, até 1000):</label>
                        <textarea id="objetos" name="objetos" rows="10" cols="50" required></textarea>
                    </div>
                    <button type="submit" class="btn">INSERIR</button>
                    <button type="button" class="limpar-btn" onclick="document.getElementById('objetos').value = '';">Limpar Objetos</button>
                </form>
                
                <div id="progress-container" style="display: none;">
                    <label for="progress">Progresso:</label>
                    <progress id="progress" value="0" max="100"></progress>
                    <span id="progress-percent">0%</span>
                </div>

                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
                <div class="aviso"> 
                    <span style="font-size: 2em; color: yellow;">&#9888;</span>           
                    <H2>Aguarde o processo finalizar!</H2>          
                </div>
            </div>
        </div>

    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('login').value = '';
            document.getElementById('senha').value = '';
            document.getElementById('objetos').value = '';

            var socket = io.connect('http://' + document.domain + ':' + location.port);
            socket.on('update_progress', function(data) {
                var progressContainer = document.getElementById('progress-container');
                var progressBar = document.getElementById('progress');
                var progressPercent = document.getElementById('progress-percent');
                progressContainer.style.display = 'block';
                progressBar.value = data.percent;
                progressPercent.textContent = data.percent + '%';
            });
        });
    </script>
</body>
</html>